.App {
    display: flex;
    flex-direction: column;
    background-image: url(./images/sky-7232494.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;  /* Use fixed for a parallax-like effect */
    overflow-y: auto; /* Add scroll only when necessary */
    width: 100%; /* Add width to ensure it stretches across the screen */
}