.App {
    display: flex;
    flex-direction: column;
    background-image: url(./images/sky-7232494.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 750vh;
}

/* Tablet Styles (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Your tablet styles here */
}

/* Mobile Styles (up to 767px) */
@media (max-width: 767px) {
    /* Your mobile styles here */
}

/* Extra Small Devices (up to 480px) */
@media (max-width: 480px) {
    /* Your extra small device styles here */
}

@media (min-width: 1025px) and (max-width: 1439px) {
    .App {
        aspect-ratio: 1 / 20;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {
    /* Your 1440p desktop screen styles here */
}

@media (min-width: 2560px) {
    /* Your 4k (2560px) desktop screen styles here */
}